@using CheckboxPractice.Controllers
@model CheckboxPractice.Controllers.TestViewModel


<form asp-action="Index" method="post">

    @{
        var dtoAs = ViewBag.DtoAs as DtoA[];
    }
    <p>
        @foreach (var dtoA in dtoAs)
        {
            <p>@(dtoA.Name)</p>
            @foreach (var dtoB in dtoA.DtoBs)
            {
                <p>
                    <input type="checkbox"
                           value="@(dtoB.Id)"
                           id="@($"{dtoA.Id}_{dtoB.Id}")"
                           name="DtoBIds"
                           @( Model.DtoBIds.Contains(dtoB.Id) ? "checked" : "" )
                           />
                    <label for="@($"{dtoA.Id}_{dtoB.Id}")">@(dtoB.Name)</label>
                </p>
            }
        }
    </p>

    <p>
        <input type="submit"
               value="Submit" />
    </p>
</form>
